<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce Store</title>
</head>
<body>

<h1>Welcome to Simple E-commerce Store</h1>

{% if user.is_authenticated %}
    <p>Hello, {{ user.username }} 👋</p>

    <a href="{% url 'logout' %}">
        <button>Logout</button>
    </a>

    <br><br>
    <a href="{% url 'product_list' %}">
        <button>View Products</button>
    </a>

{% else %}
    <a href="{% url 'login' %}">
        <button>Login</button>
    </a>

    <a href="{% url 'register' %}">
        <button>Register</button>
    </a>
{% endif %}

</body>
</html>
