{% load static %}
<link rel="stylesheet" href="{% static 'posts/style.css' %}">

<div class="container">
    <div class="card">
        <h3>{{ post.user.username }}</h3>
        <p>{{ post.content }}</p>

        {% if post.image %}
            <img src="{{ post.image.url }}" style="max-width:100%; border-radius:8px;">
        {% endif %}

        <p>Likes: {{ post.total_likes }}</p>

        <h4>Comments</h4>
        {% for comment in post.comments.all %}
            <p><b>{{ comment.user.username }}</b>: {{ comment.text }}</p>
        {% endfor %}
    </div>
</div>
